

._position{

    /*height: 300px;*/
    /*width: 600px;*/
    margin-left: 20%;
    margin-top: 3%;
    margin-right: 5%;
    /*background-color: #3c763d;*/
}

.border_error{
    border-color: red;
    
}
.addshow{
    font-size: 15px;
    color: white;
}



table thead td .showinfo{
    vertical-align: bottom;
    width: 150px;
    padding: 0;
    margin: 0;
}
input{
    width: 140px;
    border:0;
    border-bottom: 1px solid cornflowerblue;
    height: 30px;


}

#nid{
    width: 50px;
}
#action{
    width: 210px;
}

.page_nav{
    float: right;
}

#group_id {
    padding: 5px;
    border-radius: 5px;
}

