<!DOCTYPE html>
<html>

<head>

    <title>Utobe</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<nav class="_nav">

    <div>
        <a href="#">
            <img class="img-circle" alt="Brand" src="/static/img/222.ico" style="padding-bottom: 20px">
            <span class="_logo_font" >Utob<span>with</span></span>
        </a>


        <input type="button" class="_nav_reg" value="注册">
</div>

</nav>
{% block content %} {% endblock content %}

</body>
</html>
