{% extends "index.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/hosts.css">
{% endblock %}
{% block content %}


    <div class="_position panel panel-primary">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <table class="table table-bordered" >
            <thead>
            <tr>
            <th>nid</th>
            <th>host</th>
            <th>department</th>
            <th>position</th>
            <th>group_id</th>
            <th>action</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in host_list %}
            <tr>
                <td id="nid" class="showinfo"><span>{{ obj.id }}</span></td>
                <td class="showinfo">{{ obj.host }}</td>
                <td class="showinfo">{{ obj.department }}</td>
                <td class="showinfo">{{ obj.position }}</td>
                <td class="showinfo">{{ obj.group_id }}</td>
                <td id="action" class="showinfo"><a class="btn btn-primary edit" href="/edit/{{ obj.id }}">编辑</a> | <a class="btn btn-danger del">删除</a> | <a class="btn btn-info" href="/add/" >添加</a></td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
<nav aria-label="Page navigation" class="page_nav">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a  class="page_go">1</a></li>
    <li><a  class="page_go">2</a></li>
    <li><a class="page_go">3</a></li>
    <li><a  class="page_go">4</a></li>
    <li><a class="page_go">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
    </div>
    </div>


{% endblock %}
{% block js %}
<script src="/static/js/jquery-3.2.1.js"></script>
<script src="/static/js/hosts.js"></script>
{% endblock %}