<!DOCTYPE html>
<html>

<head>

    <title>Utobe</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block css %} {% endblock %}
</head>
<body class="back">
<nav class="_nav">

    <div>
        <a href="#">
            <img class="img-circle" alt="Brand" src="/static/img/222.ico">

        </a>
        <div class="_nav_logout">

            <a href="#"><span class="glyphicon glyphicon-log-out _logout" aria-hidden="true"></span></a>

        </div>
    </div>

</nav>
<div class="_left_bar">
    <div class="_logo_title">
        <a href="#">
            <img class="img-circle" alt="Brand" src="/static/img/222.ico">
            <span class="_logo_font">Utob<span>with</span></span>
        </a>
    </div>
    <div class="_bar_content">
        <ul>
            <li class="_ceng"><span class="glyphicon glyphicon-tags glyphicon_con " aria-hidden="true"></span><a
                    href="/hosts/">资产管理</a></li>
            <li class="_ceng"><span class="glyphicon glyphicon-film glyphicon_con" aria-hidden="true"></span><a>业务流程</a>
            </li>
            <li class="_ceng"><span class="glyphicon glyphicon-search glyphicon_con"
                                    aria-hidden="true"></span><a>用户管理</a></li>
            <li class="_ceng"><span class="glyphicon glyphicon-cog glyphicon_con" aria-hidden="true"></span><a>项目更新</a>
            </li>
            <li class="_ceng"><span class="glyphicon glyphicon-lock glyphicon_con" aria-hidden="true"></span><a>代码上线</a>
            </li>
            <li class="_ceng"><span class="glyphicon glyphicon-book glyphicon_con" aria-hidden="true"></span><a>账户信息</a>
            </li>

        </ul>
    </div>
</div>

{% block content %} {% endblock %}
{% block js %} {% endblock %}
</body>
</html>
